<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Загальна інформація</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Загальна кількість виданих кредитів: {{ totalLoans }}</li>
      <li>Середня сума виданих кредитів: {{ averageAmount }} грн.</li>
      <li>Загальна сума виданих кредитів: {{ totalSum }} грн.</li>
      <li>Загальна сума нарахованих відсотків: {{ totalInterest }} %</li>
      <li>Загальна кількість повернених кредитів: {{ totalReturnedLoans }}</li>
    </ul>
  </div>
</div>
