  li {
      list-style: none;
      font-size: 18px;
  }

  .panel {
      margin: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .panel-heading {
      background-color: #fcc1c1;
      border-bottom: 1px solid #c32525;
      padding: 10px 15px;
      border-radius: 3px 3px 0 0;
  }

  .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
  }

  .panel-body {
      padding: 15px;
  }

  .panel-body ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  .panel-body ul li {
      margin-bottom: 10px;
  }

  .panel-body ul li:last-child {
      margin-bottom: 0;
  }