<button class="clear-button" (click)="clearFillters()">Очистити фільтр</button>
@if (issuanceDatePerioud) {
<input
  type="text"
  ngxDaterangepickerMd
  [(ngModel)]="issuanceDatePerioud"
  placeholder="Фільтрувати за періодом дат видачі"
  (change)="onChangeIssuanceDatePerioud($event)"
  class="form-control"
  startKey="startDate"
  endKey="endDate"
  name="daterangeIssuance"
  [locale]="{ applyLabel: 'ok', format: 'DD-MM-YYYY' }"
/>
} @if (actualReturnDatePerioud) {
<input
  type="text"
  ngxDaterangepickerMd
  [(ngModel)]="actualReturnDatePerioud"
  placeholder="Фільтрувати за періодом дат повернення кредиту"
  (change)="onChangeActualReturnDatePerioud($event)"
  class="form-control"
  startKey="startDate"
  endKey="endDate"
  name="daterangeaActual"
  [locale]="{ applyLabel: 'ok', format: 'DD-MM-YYYY' }"
/>
}

<button
  type="text"
  ngxDaterangepickerMd
  placeholder="Прострочені кредити"
  (click)="onApplyOverdueLoan()"
  class="form-control"
  startKey="startDate"
  endKey="endDate"
  name="daterangeaReturn"
  value="returnDatePerriod"
>
  {{ !returnDatePerriod ? "Прострочена заборгованість" : "Вся заборгованість" }}
</button>

<ul>
  <div>
    <table>
      <tr>
        <th>№</th>
        <th>Ім'я користувача</th>
        <th>Дата видача</th>
        <th>Дата повернення</th>
        <th>Дата фактичного поверненя</th>
        <th>Сума кредиту</th>
        <th>Сума відсотка</th>
      </tr>
      <tr *ngFor="let data of finalData">
        <td class="td-table-id">{{ data.id }}</td>
        <td class="td-table-user">{{ data.user }}</td>
        <td class="td-table-issuance">{{ data.issuance_date }}</td>
        <td class="td-table-return">{{ data.return_date }}</td>
        <td class="td-table-actual">{{ data.actual_return_date }}</td>
        <td class="td-table-body">{{ data.body }}</td>
        <td class="td-table-percent">{{ data.percent }}</td>
      </tr>
    </table>
  </div>
</ul>
